<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                        http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>groupeA7</display-name>
    
    <!-- 
	    Lors du développement d'une application, 
	    il est recommandé d'initialiser le paramètre nommé javax.faces.PROJECT_STAGE avec la valeur "Development". 
	    Ceci va rendre disponibles de nombreuses informations de debugging et les afficher directement au sein 
	    de vos pages en cas de problème, permettant ainsi de tracer les erreurs rapidement. 
	    Lors du déploiement final, une fois l'application achevée, 
	    il suffit alors de changer la valeur du paramètre à "Production", 
	    et toutes ces informations non destinées au public ne seront alors plus affichées. 
	-->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
		
	<session-config>
        <session-timeout> <!-- configuration du temps au bout du quel la session expire automatiquement -->
            30 <!-- temps exprimé en minutes, à terme l'utilisateur doit se reconnecter -->
        </session-timeout>
    </session-config>
    
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	
	<!-- SÉCURITÉ JAAS-->
	<login-config>
        <auth-method>FORM</auth-method>
        <realm-name>groupeA7Realm</realm-name> <!-- nom utilisé dans la configuration de payara dans le navigateur -->
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/loginerror.xhtml</form-error-page> <!-- la page s'affiche en cas d'erreur du formulaire de login.xhtml -->
        </form-login-config>
    </login-config>
	
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    
    <security-role>
        <description/>
        <role-name>relay</role-name>
    </security-role>
    
    <!-- ADMIN -->
	<security-constraint>
        <display-name>Restricted to Admin Pages</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Admin Area</web-resource-name>
            <description></description>
            <url-pattern>/faces/admin/*</url-pattern>
            <url-pattern>/faces/relay/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <!-- RELAIS -->
    <security-constraint>
        <display-name>Restricted to Relay Pages</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Relay Area</web-resource-name>
            <description/>
            <url-pattern>/faces/relay/*</url-pattern> <!-- un relais n'a pas accès aux zones de l'admin -->
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
        	<description></description>
        	<role-name>relay</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
</web-app>